<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDUQJBY-pSwCcgjookURtkmeZi4Q7hzloY</string>
	<key>GCM_SENDER_ID</key>
	<string>1092828838530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.asu.esamano3.SocialCinema</string>
	<key>PROJECT_ID</key>
	<string>social-cinema-app</string>
	<key>STORAGE_BUCKET</key>
	<string>social-cinema-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092828838530:ios:010ff2a4c03b7d3fbdd29b</string>
</dict>
</plist>